main{
    margin-top: 20%;
}
main hr{
    background: rgb(248, 194, 247);
    border: 0px;
    height: 3px;
    opacity: 1;
}
.btntop{
    background-color: transparent;
}
.btnresume{
    width: fit-content;
    background: rgb(248, 194, 247);
    font-weight: 600;
    padding: 14px 10px;
    
}
.btnresume a{
    text-decoration: none;
    color: blueviolet;
}
.btnresume:hover{
    background: blueviolet;
    a {color: rgb(248, 194, 247);}
}
.btnresume a:hover{
    color: rgb(248, 194, 247);
}