.navbarTop a{
    color: rgb(247, 183, 215);
}
.navbarTop{
    background-color: rgb(13, 3, 68);
}
.toplist li{
    margin: 5px 20px;
}
@media (max-width:980px) {
    .toplist li{
        border-bottom: 1px solid rgba(115, 115, 115, 0.6);

    }
}
