@media (min-width:300px) {
    .verticalline{
        display: none;
    }
    .leftitem{
        width: 100%;
    }
    .projectitem{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        /* flex-wrap: wrap-reverse; */
    }
    .imgvertical{
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 50px;
    }
}
@media (min-width:750px) {
    .leftitem{
        width: 40%;
    }
    .verticalline{
        display: block;
        height: auto;
        width: 3px;
        background: rgb(248, 194, 247);
    }
    .imgvertical{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    
    }
    .projectitem{
        justify-content:space-evenly;
        display: flex;
        flex-direction: row;
    }
}


