.maintxt{
    align-items: center;
    justify-content: center;
    margin: auto;
}
.textspecial{
    color: blueviolet;
}
section hr{
    background: rgb(248, 194, 247);
    border: 0px;
    height: 3px;
    opacity: 1;
}




.linkbtn{
    background-color: rgb(1, 1, 74);
}

@media (min-width:700px) {
    .partial{
        width: 50%;
    }
}
