.maintxt{
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto auto;
}
.textspecial{
    color: blueviolet;
}
.textGenerate{
    width: 50px !important;
    font-size:20px;
}
section hr{
    background: rgb(248, 194, 247);
    border: 0px;
    height: 3px;
    opacity: 1;
}

.projectlink{
    width: fit-content;
    text-decoration: none;
    padding: 20px;
    box-shadow: -1px -1px ;
}


.linkbtn{
    background-color: rgb(1, 1, 74);
}

@media (max-width:700px) {
    #home{
        flex-wrap: wrap;
    }
}

@media (min-width:700px) {
    .sectionPaddingX{
        padding:0px 5% ;
    }
    .partial{
        width: 50%;
    }
    #home{
        flex-wrap: nowrap;
    }

}
