.sideText {
    color: rgb(149, 241, 149);
    font-weight: bold;
    animation: rotateAnimation 1s ease-in-out infinite alternate; 
    text-align: center;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@media (max-width:400px) {
    .sideText{
        font-size: 13px;
        width: 100px;

    }
}
@media (max-width:700px) {
    .serviceItem{
        flex: 0 0 auto;
        width: 80%;
        margin: 15px 10px;
    }
    .sideText{
        font-size: 15px;
        width: 150px;

    }
    
}
@media (min-width:700px) {
    .serviceItem{
        flex: 0 0 auto;
        width: 30.33333333%;
        margin: 15px 5px;
    }
    .sideText{
        font-size: 20px;
        width: 200px;

    }
}
@media (min-width:992px) {
    
    .serviceItem{
        flex: 0 0 auto;
        width: 33.33333333%;
        margin: 15px 5px;
    }
}